* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.blocklyScrollbarHorizontal,
.blocklyScrollbarVertical {
  opacity: 0 !important;
}

.blocklyScrollbarKnob {
  opacity: 0 !important;
}

.tool_box {
  background-color: transparent;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.blocklyToolboxCategoryGroup {
  flex-wrap: nowrap;
}

.blocklyToolboxDiv {
  height: 80px !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  background: transparent;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.blocklyToolbox {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.blocklyToolboxCategory {
  display: inline-block;
  margin-right: 8px;
}