* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

/* 기본 세팅 값 */

.blocklyScrollbarHorizontal,
.blocklyScrollbarVertical {
  opacity: 0 !important;
}

.blocklyScrollbarKnob {
  opacity: 0 !important;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.blocklyZoomOut,
.blocklyZoomIn {
  display: none;
}

.blocklyZoom.blocklyZoomReset {
  transform: translate(0, 0);
}

/* 툴박스 영역역 */

.blocklyToolbox {
  width: 140px;
  overflow-y: scroll !important;
  display: flex !important;
  align-items: start;
  justify-content: end;
  background: transparent;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding: 16px;
  background-color: #f7f7f8;
}

/* 블럭 카테고리 리스트 */

.blocklyToolboxCategoryContainer {
  width: 100% !important;
  margin: 0px !important;
}

.blocklyToolboxCategoryGroup {
  width: 100%;
  flex-wrap: nowrap;
  gap: 8px;
}

.blocklyToolboxCategory {
  width: 100%;
  height: 48px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  padding: 0px 8px !important;
  background-color: white !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgba(112, 115, 124, 0.22) !important;
  border-radius: 8px;
  box-sizing: border-box;
}

.blocklyToolboxSelected {
  background-color: white !important;
  border-color: #03c75a !important;
}

.blocklyToolboxCategoryLabel {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(55, 56, 60, 0.28);
}

.blocklyToolboxSelected .blocklyToolboxCategoryLabel {
  color: #03c75a;
}

.blocklyToolboxCategoryContainer {
  display: flex;
  justify-content: end;
}

.blocklyTreeRowContentContainer {
  height: 28px;
}

/* 블럭 리스트 */

.blocklyFlyout,
.blocklyToolboxFlyout {
  /* overflow: hidden; */

  box-shadow: -2px 0 20px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.blocklyFlyoutBackground {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: #f7f7f8;
  fill: #f7f7f8;
}

.blocklyToolboxCategoryIcon {
  display: none !important;
}
